Repository dlang/dmd, pull requests merged in 2024-05, with the labels that each got.

#16432 backend: use el_scancommas to skip over OPcomma chains
  compiler/src/dmd/backend/blockopt.d
  compiler/src/dmd/backend/cg87.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/gother.d
  compiler/src/dmd/e2ir.d
Labels: auto-merge

#16431 Fix Bugzilla 24525 - ref lambda not parsed at start of ExpressionStat…
  compiler/src/dmd/parse.d
  compiler/test/runnable/funclit.d
Labels: auto-merge, Bug Fix

#16433 kill more pre pentirum pro stuff
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
Labels: auto-merge

#16434 Make distinction between CC and CXX in the testsuite.
  .azure-pipelines/windows.sh
  .github/workflows/runnable_cxx.yml
  compiler/test/dshell/cpp_header_gen.d
  compiler/test/dshell/dll_cxx.d
  compiler/test/tools/d_do_test.d
  compiler/test/tools/dshell_prebuilt/dshell_prebuilt.d
Labels: auto-merge

#16435 Kill off more codegen stuff for ancient x86 cpus
  compiler/src/dmd/backend/cg87.d
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/cgobj.d
  compiler/src/dmd/backend/cgsched.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code_x86.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/dcgcv.d
Labels: auto-merge

#16436 [trivial] Fix out of bounds sequence index error message
  compiler/src/dmd/expressionsem.d
  compiler/test/fail_compilation/fail125.d
  compiler/test/fail_compilation/ice12539.d
Labels: Trivial, auto-merge, Diagnostic Messages

#16445 Add module core.sys.linux.sys.mount
  changelog/druntime.core.sys.linux.sys.mount.dd
  druntime/mak/COPY
  druntime/mak/SRCS
  druntime/src/core/sys/linux/sys/mount.d
Labels: auto-merge

#16446 Fix alignment of calloc memory in rt.dwarfeh
  druntime/src/rt/dwarfeh.d
Labels: auto-merge

#16422 Kill off OMF support
  .azure-pipelines/windows.sh
  azure-pipelines.yml
  changelog/dmd.omf-removed.dd
  ci/README.md
  compiler/src/dmd/cli.d
  compiler/src/dmd/mars.d
Labels: Deprecation -> Error

#16450 struct elem: add alias this to remove .EV. pt 2
  compiler/src/dmd/backend/el.d
  compiler/src/dmd/e2ir.d
Labels: auto-merge, Easy Review, Refactoring

#16442 Revert "kill more pre pentirum pro stuff"
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
Labels: auto-merge

#16448 remove workaround for fixed issue 16466
  compiler/src/dmd/backend/el.d
Labels: auto-merge, Easy Review, Refactoring

#16452 struct elem: add alias this to remove .EV. pt 4
  compiler/src/dmd/backend/blockopt.d
  compiler/src/dmd/backend/debugprint.d
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/elpicpie.d
  compiler/src/dmd/backend/evalu8.d
  compiler/src/dmd/backend/inliner.d
Labels: auto-merge, Easy Review, Refactoring

#16453 struct elem: add alias this to remove .EV. pt 5
  compiler/src/dmd/backend/cg87.d
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgcs.d
  compiler/src/dmd/backend/cgreg.d
  compiler/src/dmd/backend/cgxmm.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
Labels: auto-merge, Easy Review, Refactoring

#16454 struct elem: add alias this to remove .EV. pt 6
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/nteh.d
Labels: auto-merge, Easy Review, Refactoring

#16455 separate out constant part of union eve
  compiler/src/dmd/backend/cdef.d
  compiler/src/dmd/backend/el.d
  compiler/src/dmd/s2ir.d
Labels: auto-merge, Easy Review, Refactoring

#16447 [trivial] Improve `@__future` deprecation message
  compiler/src/dmd/funcsem.d
  compiler/test/compilable/future.d
  compiler/test/runnable/future.d
Labels: Trivial

#16456 move Para to CGstate.Para
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/dwarfdbginf.d
  compiler/src/dmd/glue.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16444 bitfields: add bitoffsetof, bitwidth, isBitfield
  changelog/dmd.bitfield-introspection.dd
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/id.d
  compiler/src/dmd/traits.d
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/bitintro.d
Labels: Needs Spec PR

#16460 replace union eve with union Vconst
  compiler/src/dmd/backend/cdef.d
  compiler/src/dmd/backend/cgxmm.d
  compiler/src/dmd/backend/el.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/evalu8.d
  compiler/src/dmd/backend/gloop.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16459 move Auto to CGstate.Auto
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dwarfdbginf.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16458 Rename gdb test case file such that it starts by "gdb" like the other…
  compiler/test/runnable/gdb18504.d
Labels: auto-merge

#16461 move Fast to CGstate.Fast
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dwarfdbginf.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16463 rename ESCAPE to PSOP
  compiler/src/dmd/backend/cgsched.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code_x86.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/dwarfeh.d
  compiler/src/dmd/backend/eh.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16465 rename Blockx to BlockState
  compiler/src/dmd/backend/blockopt.d
  compiler/src/dmd/backend/cc.d
  compiler/src/dmd/backend/global.d
  compiler/src/dmd/backend/nteh.d
  compiler/src/dmd/backend/type.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/glue.d
  compiler/src/dmd/gluelayer.d
  compiler/src/dmd/s2ir.d
  compiler/src/dmd/toir.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16466 make BFL a proper enum
  compiler/src/dmd/backend/blockopt.d
  compiler/src/dmd/backend/cc.d
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod5.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/gloop.d
  compiler/src/dmd/backend/gother.d
  compiler/src/dmd/backend/nteh.d
Labels: Easy Review, Refactoring, Backend

#16469 move lastretregs to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16471 Fix error message in deprecation-limit.dd
  changelog/dmd.deprecation-limit.dd
Labels: Trivial

#16473 move floatreg to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/codebuilder.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16474 move retsize to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/dvarstats.d
  compiler/src/dmd/backend/elfobj.d
  compiler/src/dmd/backend/pdata.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16475 move funcoffset to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/dwarfdbginf.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16477 move retoffset to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dvarstats.d
  compiler/src/dmd/backend/eh.d
  compiler/src/dmd/backend/pdata.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16476 move hasframe to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16478 move enforcealign to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgcse.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16479 move startoffset to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/pdata.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16480 BYTEREGS, ALLREGS - make initialization clear
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16482 prolog_allocoffset to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/pdata.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16481 move spoff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16483 move Foff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16484 move dfoidx to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16485 move CSoff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16486 move allregs to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgreg.d
  compiler/src/dmd/backend/cgsched.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16487 move NDPoff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16489 move retsym to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16490 move pushoff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16491 move msavereg to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16492 move stackpush to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgen.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod4.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/nteh.d
Labels: Easy Review, Refactoring, Backend

#16496 move calledFinally to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod5.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16495 move stackchanged to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16494 move pass to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgreg.d
  compiler/src/dmd/backend/cgxmm.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16493 move BPoff to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dwarfdbginf.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16497 move regcon to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgen.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16498 move ESPtoEBP to CGstate (#16497)
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: Easy Review, Refactoring, Backend

#16500 move refparam to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: Easy Review, Refactoring, Backend

#16501 untangle some of the backend imports
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/gdag.d
  compiler/src/dmd/backend/gflow.d
  compiler/src/dmd/backend/global.d
  compiler/src/dmd/backend/glocal.d
  compiler/src/dmd/backend/gloop.d
  compiler/src/dmd/backend/gother.d
  compiler/src/dmd/backend/gsroa.d
Labels: Easy Review, Refactoring, Backend

#16503 get rid of code_last()
  compiler/src/dmd/backend/cod4.d
Labels: Easy Review, Refactoring, Backend

#16499 move usednteh to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod5.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/dwarfdbginf.d
  compiler/src/dmd/backend/dwarfeh.d
  compiler/src/dmd/backend/eh.d
  compiler/src/dmd/backend/nteh.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16504 move regsave to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16506 move reflocal to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/codebuilder.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16505 move gotref to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16509 move needframe to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/nteh.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16508 move anyiasm to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod5.d
  compiler/src/dmd/backend/code.d
Labels: Easy Review, Refactoring, Backend

#16511 move calledafunc to CGstate
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16512 gsroa.d: reduce dependency on code_x86.d
  compiler/src/dmd/backend/cdef.d
  compiler/src/dmd/backend/code_x86.d
  compiler/src/dmd/backend/gsroa.d
Labels: auto-merge, Easy Review, Backend

#16507 Fix https://issues.dlang.org/show_bug.cgi?id=24546 for musl libc
  druntime/src/importc.h
Labels: auto-merge, Bug Fix

#16514 machobj: Parse version string using strtoul
  compiler/src/dmd/backend/machobj.d
Labels: auto-merge

#16510 fix issue24534 : goto can skip declarations in labeled statements without error
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/statementsem.d
  compiler/test/fail_compilation/issue24534.d
Labels: Enhancement, auto-merge, Bug Fix

#16515 Fix assert; arguments were in reverse order
  compiler/src/dmd/e2ir.d
Labels: Bug Fix

#16502 simplify union evc
  compiler/src/dmd/backend/code.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16520 Add missing word to CLI documentation of UAX31 table selection flag
  compiler/src/dmd/cli.d
Labels: auto-merge

#16522 Get rid of obsolete OMF support
  .azure-pipelines/lib.sh
  .azure-pipelines/windows.sh
  compiler/ini/windows/bin/sc.ini
  compiler/samples/dserver.def
  compiler/samples/win32.mak
  compiler/src/build.d
  compiler/src/dmd/README.md
  compiler/src/dmd/cppmanglewin.d
  compiler/src/dmd/cpreprocess.d
  compiler/src/dmd/dmdparams.d
  compiler/src/dmd/dmodule.d
  compiler/src/dmd/dstruct.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/glue.d
  compiler/src/dmd/lib.d
  compiler/src/dmd/libomf.d
  compiler/src/dmd/link.d
  compiler/src/dmd/main.d
  compiler/src/dmd/mars.d
  compiler/src/dmd/scanomf.d
  compiler/src/dmd/target.d
  compiler/src/dmd/target.h
  compiler/src/dmd/todt.d
  compiler/test/README.md
  compiler/test/compilable/ident_UAX31.c
  compiler/test/compilable/ident_all.c
  compiler/test/compilable/ident_c11.c
  compiler/test/compilable/issue17167.sh
  compiler/test/compilable/stdcheaders.c
  compiler/test/compilable/test11559upgradeoptlink.d
  compiler/test/dshell/cpp_header_gen.d
  compiler/test/dshell/defaults.d
  compiler/test/dshell/dll.d
  compiler/test/dshell/dll_cxx.d
  compiler/test/dshell/linker_flag_with_spaces.d
  compiler/test/run.d
  compiler/test/runnable/bitfieldsdm.c
  compiler/test/runnable/dbitfieldsdm.d
  compiler/test/runnable/paranoia.d
  compiler/test/runnable/test17338.d
  compiler/test/runnable/test23889.c
  compiler/test/runnable_cxx/cppa.d
  compiler/test/runnable_cxx/extra-files/cpp7925.cpp
  compiler/test/runnable_cxx/extra-files/cpp_abi_tests.cpp
  compiler/test/runnable_cxx/extra-files/cppb.cpp
  compiler/test/runnable_cxx/extra-files/externmangle.cpp
  compiler/test/runnable_cxx/extra-files/test20652.cpp
  compiler/test/tools/d_do_test.d
  compiler/test/tools/exported_vars.sh
  compiler/test/tools/unit_test_runner.d
  druntime/Makefile
  druntime/src/core/sys/windows/stacktrace.d
  druntime/src/rt/alloca.d
  druntime/src/rt/minit.asm
  druntime/src/rt/minit.obj
  dub.sdl
Labels: auto-merge

#16521 Get rid of obsolete `{C,Cpp}Runtime_DigitalMars` special cases
  compiler/samples/dserver.d
  compiler/src/dmd/cli.d
  compiler/src/dmd/dmdparams.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/target.d
  compiler/src/dmd/target.h
  compiler/test/compilable/cppmangle.d
  compiler/test/compilable/cppmangle3.d
  compiler/test/compilable/test18955.d
  compiler/test/compilable/zerosize.d
  compiler/test/dshell/dll_cxx.d
  compiler/test/dshell/extra-files/dll_cxx/cppnew.d
  compiler/test/dshell/extra-files/dll_cxx/testdll.d
  compiler/test/runnable/testthread.d
  compiler/test/runnable_cxx/cpp_abi_tests.d
  compiler/test/runnable_cxx/cppa.d
  compiler/test/runnable_cxx/externmangle.d
  compiler/test/runnable_cxx/test20652.d
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/core/demangle.d
  druntime/src/core/internal/parseoptions.d
  druntime/src/core/stdc/assert_.d
  druntime/src/core/stdc/errno.d
  druntime/src/core/stdc/fenv.d
  druntime/src/core/stdc/math.d
  druntime/src/core/stdc/stdint.d
  druntime/src/core/stdc/stdio.d
  druntime/src/core/stdcpp/array.d
  druntime/src/core/stdcpp/exception.d
  druntime/src/core/stdcpp/string_view.d
  druntime/src/core/stdcpp/typeinfo.d
  druntime/src/core/sys/windows/dll.d
  druntime/src/core/sys/windows/stacktrace.d
  druntime/src/core/sys/windows/stat.d
  druntime/src/core/thread/osthread.d
  druntime/src/rt/cover.d
  druntime/src/rt/monitor_.d
  druntime/src/rt/sections.d
  druntime/src/rt/sections_win32.d
Labels: auto-merge

#16523 druntime: Streamline `make clean` for integration tests
  druntime/Makefile
  druntime/test/aa/Makefile
  druntime/test/allocations/Makefile
  druntime/test/coverage/Makefile
  druntime/test/cpuid/Makefile
  druntime/test/cycles/Makefile
  druntime/test/exceptions/Makefile
  druntime/test/hash/Makefile
  druntime/test/imports/Makefile
  druntime/test/profile/Makefile
  druntime/test/shared/Makefile
  druntime/test/stdcpp/Makefile
  druntime/test/thread/Makefile
  druntime/test/unittest/Makefile
Labels: auto-merge

#16524 make backend.x86 package
  compiler/src/build.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/x86/cgreg.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16525 Turn `mTYman_` into a `Mangle` enum
  compiler/src/dmd/backend/cgobj.d
  compiler/src/dmd/backend/drtlsym.d
  compiler/src/dmd/backend/dtype.d
  compiler/src/dmd/backend/dwarfdbginf.d
  compiler/src/dmd/backend/elfobj.d
  compiler/src/dmd/backend/global.d
  compiler/src/dmd/backend/machobj.d
  compiler/src/dmd/backend/mscoffobj.d
  compiler/src/dmd/backend/type.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/glue.d
  compiler/src/dmd/tocsym.d
  compiler/src/dmd/toobj.d
Labels: auto-merge, Refactoring, Backend

#16526 Remove some more OMF leftovers
  changelog/dmd.importc-unicode.dd
  compiler/src/dmd/cli.d
  compiler/test/compilable/testcstuff4.i
  compiler/test/tools/d_do_test.d
  druntime/def/.gitignore
  druntime/def/Makefile
  druntime/def/README.md
  druntime/def/glu32.def
  druntime/def/odbc32.def
  druntime/def/opengl32.def
  druntime/def/rpcrt4.def
  druntime/def/shell32.def
  druntime/def/version.def
  druntime/def/wininet.def
  druntime/def/winspool.def
Labels: auto-merge

#16527 move code_x86.d to x86
  compiler/src/build.d
  compiler/src/dmd/backend/backend.d
  compiler/src/dmd/backend/cc.d
  compiler/src/dmd/backend/cg.d
  compiler/src/dmd/backend/cg87.d
  compiler/src/dmd/backend/cgcod.d
  compiler/src/dmd/backend/cgcse.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/cgen.d
  compiler/src/dmd/backend/cgobj.d
  compiler/src/dmd/backend/cgsched.d
  compiler/src/dmd/backend/cgxmm.d
  compiler/src/dmd/backend/cod1.d
  compiler/src/dmd/backend/cod2.d
  compiler/src/dmd/backend/cod3.d
  compiler/src/dmd/backend/cod4.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/dcode.d
  compiler/src/dmd/backend/debugprint.d
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/drtlsym.d
  compiler/src/dmd/backend/dwarfdbginf.d
  compiler/src/dmd/backend/dwarfeh.d
  compiler/src/dmd/backend/eh.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/elfobj.d
  compiler/src/dmd/backend/elpicpie.d
  compiler/src/dmd/backend/gsroa.d
  compiler/src/dmd/backend/iasm.d
  compiler/src/dmd/backend/machobj.d
  compiler/src/dmd/backend/mscoffobj.d
  compiler/src/dmd/backend/nteh.d
  compiler/src/dmd/backend/pdata.d
  compiler/src/dmd/backend/ptrntab.d
  compiler/src/dmd/backend/symbol.d
  compiler/src/dmd/backend/x86/cgreg.d
  compiler/src/dmd/backend/x86/code_x86.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/gluelayer.d
  compiler/src/dmd/iasmdmd.d
  compiler/src/dmd/s2ir.d
  compiler/src/dmd/toobj.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16528 move cod?.d to x86
  compiler/src/.dscanner.ini
  compiler/src/build.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/global.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/backend/x86/cod4.d
  compiler/src/dmd/backend/x86/cod5.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16529 more codegen files moved to x86
  compiler/src/.dscanner.ini
  compiler/src/build.d
  compiler/src/dmd/backend/cgen.d
  compiler/src/dmd/backend/code.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/global.d
  compiler/src/dmd/backend/ptrntab.d
  compiler/src/dmd/backend/x86/cg87.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cgxmm.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/backend/x86/cod4.d
  compiler/src/dmd/backend/x86/nteh.d
  compiler/src/dmd/backend/x86/xmm.d
  compiler/src/dmd/iasmdmd.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16530 remove useless backend.d
  compiler/src/build.d
  compiler/src/dmd/backend/backend.d
  compiler/src/dmd/backend/cv8.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16532 Turn GOAL into a D enum
  compiler/src/dmd/backend/blockopt.d
  compiler/src/dmd/backend/cc.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/elpicpie.d
  compiler/src/dmd/backend/evalu8.d
  compiler/src/dmd/backend/glocal.d
  compiler/src/dmd/backend/gloop.d
  compiler/src/dmd/backend/go.d
Labels: auto-merge, Refactoring, Backend

#16533 Fix bugzilla issue 20243 - inout not substituted for in associative array key type
  compiler/src/dmd/typesem.d
  compiler/test/compilable/b20243.d
Labels: Enhancement, auto-merge

#16519 Fix Bugzilla Issue 24560 - dmd crash on imported function with default parameter containing new
  compiler/src/dmd/expressionsem.d
  compiler/test/compilable/test24560.d
Labels: Regression, auto-merge, Bug Fix

#16534 merge stable
  VERSION
  changelog/dmd.deprecation-limit.dd
  changelog/dmd.foreach-array-index-type.dd
  compiler/src/dmd/backend/machobj.d
  compiler/src/dmd/cli.d
  druntime/src/importc.h
  druntime/test/exceptions/Makefile
Labels: Bug Fix

#16537 add CGstate parameter to codegen functions
  compiler/src/dmd/backend/x86/cg87.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cgxmm.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/backend/x86/cod4.d
  compiler/src/dmd/backend/x86/nteh.d
Labels: Easy Review, Refactoring, Backend

#16539 remove unnecessary imports from dout.d
  compiler/src/dmd/backend/dout.d
Labels: auto-merge, Easy Review, Refactoring, Backend

#16538 add CGstate to codelem(), scodelem()
  compiler/src/dmd/backend/cgen.d
  compiler/src/dmd/backend/x86/cg87.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cgxmm.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/backend/x86/cod4.d
Labels: Easy Review, Refactoring, Backend

#16541 Cleanup long dead defines in cdef.d
  compiler/src/dmd/backend/cdef.d
Labels: Trivial, auto-merge, Easy Review, Backend

#16544 cgcod.d: replace many cgstate with cg
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Easy Review, Refactoring, Backend

#15572 Fix Issue 24135 - Eponymous template member overloads not shown as call candidates
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/funcsem.d
  compiler/src/dmd/hdrgen.d
  compiler/test/fail_compilation/onemember_overloads.d
Labels: Enhancement
