Repository dlang/dmd, pull requests merged in 2025-04, with the labels that each got.

#21129 load floating point with * operator
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21130 start on prolog_saveregs() and epilog_restoreregs()
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21134 convert prolog_saveregs/restoreregs for AArch64
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21135 more problems with type conversions
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#21136 load floating point constant error
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/x86/cgcod.d
Labels: Compiler:Backend, Arch:Aarch64

#21145 operands reversed in float conversions
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#21146 add exe2.c exe3.c Import C test files
  compiler/test/runnable/exe2.c
  compiler/test/runnable/exe3.c
Labels: Feature:ImportC

#21149 dmd: Remove all public C++ functions
  compiler/src/dmd/dsymbol.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/expression.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/tests/cxxfrontend.cc
Labels: Compiler:C++ Interface

#21154 fix #21153 - [REG 2.111.0] Infinite loop in isAliasThisTuple
  compiler/src/dmd/expressionsem.d
  compiler/test/compilable/test21153.d
Labels: Severity:Regression, Review:stable-priority

#21159 get switch statements to work
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21163 detail optimize switch compares
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21175 do not use TYucent for struct copies
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/cgelem.d
Labels: Compiler:Backend, Arch:Aarch64

#21155 fix #21153 - [REG 2.111.0] Infinite loop in isAliasThisTuple
  compiler/src/dmd/expressionsem.d
Labels: Severity:Regression, Review:Trivial, Review:stable-priority

#21185 ImportC: can't access members in static array
  compiler/src/dmd/importc.d
  compiler/test/compilable/test20472.c
  compiler/test/compilable/testcstuff1.c
Labels: Feature:ImportC

#21190 Fix #21189 - wrong/missing error line when source file isn't regular
  compiler/src/dmd/errors.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.h
  compiler/src/dmd/lexer.d
  compiler/src/dmd/location.d
  compiler/test/compilable/pragmapack.c
  compiler/test/fail_compilation/fail_pretty_errors.d
  compiler/test/fail_compilation/failcstuff6.c
Labels: Diagnostic Messages

#21196 re-enable RM.load check
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#21182 [NFC] outline class function semantic analysis out of `funcDeclarationSemantic`
  compiler/src/dmd/funcsem.d
Labels: Severity:Refactoring

#21206 backend: Remove void initialization from `code` vars
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/x86/cg87.d
  compiler/src/dmd/backend/x86/cgxmm.d
  compiler/src/dmd/backend/x86/cod2.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/backend/x86/cod4.d
Labels: Severity:Refactoring

#21212 fix #21161 placement new fails on default-init struct
  compiler/src/dmd/e2ir.d
  compiler/test/runnable/placenew.d
Labels: Severity:normal

#21209 upgrade obj_mangle2() to use OutBuffer
  compiler/src/dmd/backend/mscoffobj.d
Labels: Severity:Refactoring

#21218 change mscoffobj.d to more D style
  compiler/src/dmd/backend/mscoffobj.d
Labels: Review:Easy Review, Severity:Refactoring

#21224 Fix 18127 - ImportC: redeclaration of struct in different translation unit doesn’t check compatibility
  compiler/src/dmd/dsymbolsem.d
  compiler/test/compilable/imports/imp18127a.c
  compiler/test/compilable/imports/imp18127b.c
  compiler/test/compilable/test18127.d
  compiler/test/fail_compilation/imports/imp18127a.c
  compiler/test/fail_compilation/imports/imp18127b.c
  compiler/test/fail_compilation/test18127.d
Labels: Feature:ImportC

#21227 add floatPost()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21231 Added test cases for other existing fixed issues
  compiler/test/fail_compilation/fix21165.d
Labels: Diagnostic Messages

#21235 fix ldr/str floating point registers
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21243 fix #21203 Placement new does not count as initialization
  compiler/src/dmd/expressionsem.d
  compiler/test/runnable/placenew.d
Labels: Severity:normal

#21251 fix offsets in prolog_saveregs/restoreregs
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/x86/cgcod.d
Labels: Compiler:Backend, Arch:Aarch64

#21269 initial support for 128 bit floats
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/backconfig.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21275 add ability to call helper functions
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/x86/cod1.d
Labels: Compiler:Backend, Arch:Aarch64

#21276 calling compiler helper functions now works
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod1.d
Labels: Compiler:Backend, Arch:Aarch64

#21279 load 128 bit floating point constants from global
  compiler/src/dmd/backend/backconfig.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/goh.d
Labels: Compiler:Backend, Arch:Aarch64

#21281 use OPpair instead of OPadd to form complex type
  compiler/src/dmd/e2ir.d
Labels: Severity:Refactoring, Compiler:Backend

#21282 more cases of creating complex expressions
  compiler/src/dmd/backend/x86/cg87.d
  compiler/src/dmd/e2ir.d
Labels: Severity:Refactoring, Compiler:Backend

#21229 druntime: Move syscall bindings in perf_event to own module
  druntime/mak/COPY
  druntime/mak/SRCS
  druntime/src/core/sys/linux/perf_event.d
  druntime/src/core/sys/linux/sys/syscall.d
  druntime/src/core/sys/linux/syscall.d
  druntime/src/core/sys/linux/unistd.d
Labels: Review:Blocking Other Work

#21286 Bump Ubuntu to 22.04 for GHA workflow runnable_cxx
  .github/workflows/runnable_cxx.yml
Labels: Infrastructure:Continuous Integration

#21288 reals do not fit in XMM registers
  compiler/src/dmd/backend/x86/cod4.d
  compiler/src/dmd/e2ir.d
Labels: Compiler:Backend

#21305 Fix #21298 - Missing string literal for gcc asm not always diagnosed
  compiler/src/dmd/iasmgcc.d
Labels: Compiler:GDC, Compiler:LDC, Diagnostic Messages, Bug Fix

#21306 get tstresult() to work with 128 bit floats
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21292 fix cdneg() for integer, float, and 128 bit floats
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#21293 add 128 bit float support to cdorth()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21308 use INSTR.szToFtype()
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#21319 do not use OPnegass for 128 bits
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21320 add 128 bit support to add assignment operators
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21307 implement REGSAVE_save/restor for floating point registers
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64
