Repository dlang/dmd, pull requests merged in 2025-02, with the labels that each got.

#20809 add Arm conversions of double to integral
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/x86/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#20810 detail work on double to integer conversion
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64

#20813 Fix issue 20812: hasIndirections wrong when void has qualifiers.
  druntime/src/core/internal/traits.d
Labels: Merge:auto-merge, Druntime

#20814 more of AArch64 cdcvt implemented
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/inliner.d
Labels: Compiler:Backend, Arch:Aarch64

#20815 AArch64 OPd_f and OPf_d conversions
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#20816 convert Freg numbers in instr.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20817 update allocretregs() for AArch64
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20821 change register count to 64 registers
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/cdef.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20820 Fix race condition for new GC
  druntime/src/core/thread/osthread.d
  druntime/src/core/thread/threadbase.d
Labels: Druntime:GC

#20828 load fp register parameter
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/codebuilder.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20829 implement floating point multiply and divide
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#20834 add fpregs to loadFromEA() and storeToEA()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20836 Remove unnecessary NoPointersBitmapPayload template.
  compiler/test/compilable/extra-files/vcg-ast.d.cg
  druntime/src/object.d
Labels: Review:Trivial, Merge:auto-merge, Druntime

#20833 Put all metadata calls into GC
  druntime/src/core/internal/array/utils.d
  druntime/src/core/internal/gc/blockmeta.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
  druntime/src/core/lifetime.d
  druntime/src/rt/lifetime.d
  druntime/test/profile/bothnew.def.exp
Labels: Druntime:GC

#20841 Rename short Scope fields
  compiler/src/dmd/dscope.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/scope.h
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statement.d
  compiler/src/dmd/statementsem.d
Labels: Severity:Refactoring

#20854 Fix #20831 - Mangle conflict after ImportC statement expression gets …
  compiler/src/dmd/identifier.d
  compiler/test/runnable/test20831.c
Labels: Feature:ImportC

#20826 druntime: redirect dual-ABI functions on glibc to IEEE128 version
  druntime/src/core/stdc/config.d
  druntime/src/core/stdc/math.d
  druntime/src/core/stdc/stdio.d
  druntime/src/core/stdc/stdlib.d
Labels: Arch:powerpc

#20856 cdeq() for AArch64 floating point
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/backconfig.d
Labels: Compiler:Backend, Arch:Aarch64

#20857 add op= code generation
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#20861 Optimize access to Loc.filename
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/location.d
  compiler/src/dmd/timetrace.d
Labels: Merge:auto-merge

#20860 Fix stale references to BaseLoc
  compiler/src/dmd/location.d
Labels: Merge:auto-merge

#20868 add OPnegass code gen
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#20871 Improve parser errors for statements at global scope
  compiler/src/dmd/parse.d
  compiler/test/fail_compilation/code_global_scope.d
  compiler/test/fail_compilation/diag_template_alias.d
  compiler/test/fail_compilation/diag_template_this.d
  compiler/test/fail_compilation/fail17570.d
  compiler/test/fail_compilation/fnconstraint.d
  compiler/test/fail_compilation/issue16020.d
  compiler/test/fail_compilation/template_decl.d
  compiler/test/fail_compilation/udaparams.d
Labels: Merge:auto-merge, Diagnostic Messages

#20872 Rephrase "no identifier for declarator" parse error
  compiler/src/dmd/parse.d
  compiler/test/compilable/testcolor.sh
  compiler/test/fail_compilation/e15876_1.d
  compiler/test/fail_compilation/e15876_2.d
  compiler/test/fail_compilation/e15876_3.d
  compiler/test/fail_compilation/e15876_4.d
  compiler/test/fail_compilation/e15876_5.d
  compiler/test/fail_compilation/fail11751.d
  compiler/test/fail_compilation/fail16.d
  compiler/test/fail_compilation/fail22.d
  compiler/test/fail_compilation/fail3673b.d
  compiler/test/fail_compilation/fail4269e.d
  compiler/test/fail_compilation/fail4544.d
  compiler/test/fail_compilation/failcontracts.d
  compiler/test/fail_compilation/ice11153.d
  compiler/test/fail_compilation/ice11963.d
  compiler/test/fail_compilation/ice11965.d
  compiler/test/fail_compilation/ice15855.d
  compiler/test/fail_compilation/parse14285.d
  compiler/test/fail_compilation/test1.d
  compiler/test/fail_compilation/test21062.d
  compiler/test/fail_compilation/test21096.d
  compiler/test/fail_compilation/test23873.d
  compiler/test/fail_compilation/testsemi.d
  compiler/test/fail_compilation/traits_alone.d
  compiler/test/fail_compilation/udaparams.d
  compiler/test/unit/frontend.d
Labels: Diagnostic Messages

#20876 implement cdcmp() for AArch64 floating point
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#20878 createModule: pass `params` by parameter instead of `global.`
  compiler/src/dmd/main.d
  compiler/src/dmd/mars.d
Labels: Merge:auto-merge, Severity:Refactoring

#20874 Fix #20859 - ICE: class with __vtbl field name causes segfault in Sco…
  compiler/src/dmd/dsymbolsem.d
  compiler/test/fail_compilation/test20859.d
Labels: Merge:auto-merge

#20879 Remove unused TypeIdentifier.originalSymbol
  compiler/src/dmd/frontend.h
  compiler/src/dmd/mtype.d
  compiler/src/dmd/mtype.h
Labels: Merge:auto-merge, Severity:Refactoring

#20880 Put more types in Mcache
  compiler/src/dmd/frontend.h
  compiler/src/dmd/mtype.d
  compiler/src/dmd/mtype.h
  compiler/src/dmd/typesem.d
Labels: Merge:auto-merge, Severity:Refactoring

#20865 Print function bodies instead of __lambda in error messages
  changelog/dmd.error-messages.dd
  compiler/src/dmd/dcast.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/expression.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/initsem.d
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/sideeffect.d
  compiler/src/dmd/statementsem.d
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/attributediagnostic.d
  compiler/test/fail_compilation/attributediagnostic_nogc.d
  compiler/test/fail_compilation/attributediagnostic_nothrow.d
  compiler/test/fail_compilation/b19523.d
  compiler/test/fail_compilation/bug9631.d
  compiler/test/fail_compilation/constraints_defs.d
  compiler/test/fail_compilation/constraints_tmpl.d
  compiler/test/fail_compilation/cppvar.d
  compiler/test/fail_compilation/diag12829.d
  compiler/test/fail_compilation/diag_funclit.d
  compiler/test/fail_compilation/fail11125.d
  compiler/test/fail_compilation/fail11375.d
  compiler/test/fail_compilation/fail117.d
  compiler/test/fail_compilation/fail13120.d
  compiler/test/fail_compilation/fail13424.d
  compiler/test/fail_compilation/fail16575.d
  compiler/test/fail_compilation/fail16689.d
  compiler/test/fail_compilation/fail16772.d
  compiler/test/fail_compilation/fail19759.d
  compiler/test/fail_compilation/fail21206.d
  compiler/test/fail_compilation/fail2450.d
  compiler/test/fail_compilation/fail6334.d
  compiler/test/fail_compilation/fail99.d
  compiler/test/fail_compilation/ice10922.d
  compiler/test/fail_compilation/ice22377.d
  compiler/test/fail_compilation/ice8309.d
  compiler/test/fail_compilation/ice9406.d
  compiler/test/fail_compilation/misc1.d
  compiler/test/fail_compilation/nogc3.d
  compiler/test/fail_compilation/opapplyscope.d
  compiler/test/fail_compilation/previewin.d
  compiler/test/fail_compilation/retscope.d
  compiler/test/fail_compilation/systemvariables_deprecation.d
  compiler/test/fail_compilation/test14238.d
  compiler/test/fail_compilation/test16193.d
  compiler/test/fail_compilation/test19107.d
  compiler/test/fail_compilation/test19971.d
  compiler/test/fail_compilation/test21912.d
  compiler/test/fail_compilation/test23112.d
  compiler/test/fail_compilation/testInference.d
  compiler/test/fail_compilation/var_func_attr.d
Labels: Merge:auto-merge, Diagnostic Messages

#20852 Improve field layout of Declaration
  compiler/src/dmd/cparse.d
  compiler/src/dmd/declaration.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/tocsym.d
Labels: Merge:auto-merge, Severity:Refactoring

#20883 redo cdnot() floating point implementation
  compiler/src/dmd/backend/arm/cod2.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20884 add floating support to tstresult()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#20885 Fix allman brace style
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/machobj.d
  compiler/src/dmd/backend/mscoffobj.d
  compiler/src/dmd/backend/x86/disasm86.d
  compiler/src/dmd/common/charactertables.d
  compiler/src/dmd/dinterpret.d
  compiler/src/dmd/doc.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtoh.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/file_manager.d
  compiler/src/dmd/json.d
  compiler/src/dmd/lambdacomp.d
  compiler/src/dmd/lexer.d
  compiler/src/dmd/link.d
  compiler/src/dmd/mars.d
  compiler/src/dmd/mtype.d
  compiler/src/dmd/root/response.d
  compiler/src/dmd/root/string.d
  compiler/src/dmd/root/strtold.d
  compiler/src/dmd/sarif.d
  compiler/src/dmd/sideeffect.d
  compiler/src/dmd/tokens.d
Labels: Severity:Refactoring

#20886 Simplify linkage_location unittest
  compiler/test/unit/parser/linkage_location.d
Labels: Merge:auto-merge, Severity:Refactoring

#20887 Fix fail_compilation/retscope TEST_OUTPUT blocks
  compiler/test/fail_compilation/retscope.d
  compiler/test/fail_compilation/retscope2.d
  compiler/test/fail_compilation/retscope3.d
Labels: Merge:auto-merge

#20891 add loads of floating point constants
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/backconfig.d
  compiler/src/dmd/backend/elem.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20890 Fix #20888 - Compiler spits out implicit conversion technobabble when a return statement doesn't match the return type of a function
  compiler/src/dmd/semantic3.d
  compiler/test/fail_compilation/diag20888.d
  compiler/test/fail_compilation/fail100.d
  compiler/test/fail_compilation/fail13498.d
  compiler/test/fail_compilation/fail20073.d
  compiler/test/fail_compilation/fail20376.d
  compiler/test/fail_compilation/noreturn2.d
  compiler/test/fail_compilation/shared.d
  compiler/test/fail_compilation/test14538.d
  compiler/test/fail_compilation/testInference.d
Labels: Diagnostic Messages

#20892 do not gag a fatal error
  compiler/src/dmd/declaration.d
Labels: Merge:auto-merge

#20895 Fix #20894 - pragma(msg) interprets printf format specifiers
  compiler/src/dmd/pragmasem.d
  compiler/test/compilable/bug11735.d
Labels: Merge:auto-merge

#20863 Fix issue #17503 - Associative Arrays improperly register a GC-allocated TypeInfo for element cleanup
  compiler/src/dmd/dcast.d
  compiler/src/dmd/declaration.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/id.d
  compiler/src/dmd/semantic2.d
  compiler/src/dmd/todt.d
  compiler/src/dmd/typesem.d
  compiler/src/dmd/typinf.d
  compiler/test/runnable/testaa2.d
  druntime/src/core/internal/newaa.d
  druntime/src/object.d
  druntime/src/rt/aaA.d
  druntime/src/rt/lifetime.d
  druntime/test/aa/src/test_aa.d
  druntime/test/profile/myprofilegc.log.freebsd.32.exp
  druntime/test/profile/myprofilegc.log.freebsd.64.exp
  druntime/test/profile/myprofilegc.log.linux.32.exp
  druntime/test/profile/myprofilegc.log.linux.64.exp
  druntime/test/profile/myprofilegc.log.osx.32.exp
  druntime/test/profile/myprofilegc.log.osx.64.exp
  druntime/test/profile/myprofilegc.log.windows.32.exp
  druntime/test/profile/myprofilegc.log.windows.64.exp
Labels: Merge:auto-merge, Druntime:AA, Feature:type info

#20900 Use Entry struct from TypeInfo_AssociativeArray instead of local one
  druntime/src/core/internal/newaa.d
Labels: Review:Trivial, Druntime:AA

#20819 Extract Dsymbol.checkCtorConstInit and make it a visitor in dsymbolsem
  compiler/src/dmd/attrib.d
  compiler/src/dmd/attrib.h
  compiler/src/dmd/declaration.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/dsymbol.d
  compiler/src/dmd/dsymbol.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/frontend.h
Labels: Merge:auto-merge-squash

#20902 Improve error for failing opDispatch instantiation
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/diag14145.d
  compiler/test/fail_compilation/fail18970.d
  compiler/test/fail_compilation/fail22054.d
  compiler/test/fail_compilation/ice10938.d
  compiler/test/fail_compilation/test16188.d
Labels: Diagnostic Messages

#20906 detab cod1.d
  compiler/src/dmd/backend/arm/cod1.d
Labels: Severity:trivial

#20905 start on prolog_genvarargs()
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/elfobj.d
  compiler/src/dmd/backend/x86/cod3.d
  compiler/src/dmd/glue.d
Labels: Compiler:Backend, Arch:Aarch64

#20909 add prolog_genva_start()
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/backconfig.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20914 fix #20912 lexing problem with #define // comments
  compiler/src/dmd/lexer.d
  compiler/test/compilable/ctod.i
Labels: Feature:ImportC

#20925 Devirtualize Dsymbol.isXXX functions
  compiler/src/dmd/aggregate.d
  compiler/src/dmd/aggregate.h
  compiler/src/dmd/aliasthis.d
  compiler/src/dmd/attrib.d
  compiler/src/dmd/attrib.h
  compiler/src/dmd/cond.h
  compiler/src/dmd/dclass.d
  compiler/src/dmd/declaration.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/denum.d
  compiler/src/dmd/dimport.d
  compiler/src/dmd/dmodule.d
  compiler/src/dmd/dstruct.d
  compiler/src/dmd/dsymbol.d
  compiler/src/dmd/dsymbol.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/dversion.d
  compiler/src/dmd/enum.h
  compiler/src/dmd/frontend.h
  compiler/src/dmd/func.d
  compiler/src/dmd/funcsem.d
  compiler/src/dmd/import.h
  compiler/src/dmd/module.h
  compiler/src/dmd/nspace.d
  compiler/src/dmd/nspace.h
  compiler/src/dmd/statement.d
  compiler/src/dmd/staticassert.d
  compiler/src/dmd/staticassert.h
  compiler/src/dmd/template.h
  compiler/src/dmd/templatesem.d
  compiler/src/dmd/version.h
  compiler/src/tests/cxxfrontend.cc
Labels: Severity:Refactoring

#20918 more work on variadic functions
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/x86/cgreg.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/glue.d
Labels: Compiler:Backend, Arch:Aarch64

#20928 Make `StorageClass` typed `STC` instead of `ulong`
  compiler/src/dmd/aggregate.d
  compiler/src/dmd/astbase.d
  compiler/src/dmd/astenums.d
  compiler/src/dmd/attrib.d
  compiler/src/dmd/clone.d
  compiler/src/dmd/cond.d
  compiler/src/dmd/cparse.d
  compiler/src/dmd/cxxfrontend.d
  compiler/src/dmd/declaration.d
  compiler/src/dmd/denum.d
  compiler/src/dmd/dscope.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/escape.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/func.d
  compiler/src/dmd/funcsem.d
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/json.d
  compiler/src/dmd/mangle/package.d
  compiler/src/dmd/mtype.d
  compiler/src/dmd/parse.d
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/sideeffect.d
  compiler/src/dmd/statement.d
  compiler/src/dmd/statementsem.d
  compiler/src/dmd/templatesem.d
  compiler/src/dmd/traits.d
  compiler/src/dmd/typesem.d
  compiler/test/unit/semantic/covariance.d
Labels: Severity:Refactoring

#20919 Fix #20907 - DMD segfaults with static array length parameter derived…
  compiler/test/runnable/template3.d
Labels: Merge:auto-merge

#20931 Remove cast(STC) from TypeTag.semantic
  compiler/src/dmd/typesem.d
Labels: Merge:auto-merge, Severity:Refactoring, Feature:ImportC
