Repository dlang/dmd, pull requests merged in 2025-05, with the labels that each got.

#21300 Fix #21280 - Add `__NR_getrandom` aka `SYS_getrandom`
  druntime/src/core/sys/linux/sys/syscall.d
Labels: Severity:Enhancement, Review:Blocking Other Work, OS:Linux, Druntime

#21329 fix encoding of ldrsb
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21336 remove leftover code
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21313 iasmgcc: Stop parsing at the first error found
  compiler/src/dmd/iasmgcc.d
Labels: Compiler:GDC, Compiler:LDC

#21339 iasmgcc: Remove colonColon special case from the parser
  compiler/src/dmd/cparse.d
  compiler/src/dmd/iasmgcc.d
  compiler/src/dmd/parse.d
Labels: Compiler:GDC, Compiler:LDC

#21340 skip *2 optimization
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/elem.d
Labels: Compiler:Backend, Arch:Aarch64

#21348 fix post increment of floats
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/elem.d
Labels: Compiler:Backend, Arch:Aarch64

#21342 iasmgcc: Support CTFE strings for input/output constraints
  compiler/src/dmd/iasmgcc.d
  compiler/src/dmd/parse.d
Labels: Compiler:GDC, Compiler:LDC

#21357 forgot to set ftype in cdcnvt()
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64

#21358 arguments to fmov swapped
  compiler/src/dmd/backend/arm/cod1.d
Labels: Compiler:Backend, Arch:Aarch64

#21366 add more url's to output of disassembler
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64

#16220 machobj: Rename align_ to p2align where its value is computed as power of 2
  compiler/src/dmd/backend/machobj.d
Labels: Merge:auto-merge, Severity:Refactoring, Compiler:Backend

#21289 Add hooks to the GC to manage thread lifetimes
  druntime/src/core/gc/config.d
  druntime/src/core/gc/gcinterface.d
  druntime/src/core/gc/registry.d
  druntime/src/core/internal/gc/blkcache.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
  druntime/src/core/internal/gc/impl/manual/gc.d
  druntime/src/core/internal/gc/impl/proto/gc.d
  druntime/src/core/internal/gc/proxy.d
  druntime/src/core/thread/threadbase.d
  druntime/test/init_fini/src/custom_gc.d
Labels: Merge:auto-merge

#21367 add C test file exe4.c
  compiler/test/runnable/exe4.c
Labels: Compiler:Backend, Arch:Aarch64

#21371 importc: Better isolate clang-cpp fixes
  compiler/test/compilable/fix24187.c
  compiler/test/compilable/stdcheaders.c
  druntime/src/importc.h
Labels: Merge:auto-merge

#21370 compilable/stdcheaders.c: Skip math.h on linux aarch64
  compiler/test/compilable/stdcheaders.c
Labels: Merge:auto-merge

#21374 add some DMC AArch64 versions to druntime
  druntime/src/core/internal/vararg/sysv_x64.d
  druntime/src/core/stdc/config.d
  druntime/src/core/stdc/stdarg.d
Labels: Arch:Aarch64, Druntime

#21376 druntime: Add core.sys.linux.sched.sched_getcpu() for musl libc
  druntime/src/core/sys/linux/sched.d
Labels: Merge:auto-merge

#21205 Templatize `_d_arrayappendcTX`
  changelog/druntime.d_arrayappendcTX_template.dd
  druntime/src/core/internal/array/appending.d
  druntime/src/core/internal/array/utils.d
  druntime/src/rt/lifetime.d
  druntime/src/rt/tracegc.d
Labels: Merge:auto-merge

#21386 add function doc to mangleFuncType()
  compiler/src/dmd/mangle/package.d
Labels: Review:Trivial

#21350 [stable] Don't merge function types with unknown return type
  compiler/src/dmd/typesem.d
Labels: Merge:auto-merge, Merge:72h no objection -> merge

#21392 add stub file iasmaarch64.d for AArch64 inline assembler
  compiler/src/build.d
  compiler/src/dmd/README.md
  compiler/src/dmd/iasm.d
  compiler/src/dmd/iasmaarch64.d
Labels: Compiler:Backend, Arch:Aarch64

#21365 fix stack offset for saved registers
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21405 so getFunctionAttributes() behaves like hdrgen.d
  compiler/src/dmd/mtype.d
  compiler/test/compilable/traits_getFunctionAttributes.d
  compiler/test/fail_compilation/test21546.d
  compiler/test/runnable/testscope2.d
Labels: Feature:traits

#21411 diag(preview=in): Don't mention rvalue for in parameter with preview=in
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/previewin3.d
Labels: Diagnostic Messages

#21369 adjust return scope detection
  compiler/src/dmd/astenums.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/objc_glue.d
  compiler/src/dmd/parse.d
  compiler/test/compilable/extra-files/header1.d
  compiler/test/compilable/shared.d
  compiler/test/compilable/test23169.d
  compiler/test/compilable/testsctreturn.d
  compiler/test/fail_compilation/fix22108.d
  compiler/test/fail_compilation/pull12941.d
  compiler/test/fail_compilation/retscope2.d
  compiler/test/fail_compilation/shared.d
  compiler/test/fail_compilation/test15191.d
  compiler/test/fail_compilation/test20881.d
  compiler/test/fail_compilation/varargsstc.d
  compiler/test/runnable/testscope2.d
  druntime/src/core/internal/array/duplication.d
  druntime/src/core/stdcpp/string.d
Labels: Review:Easy Review, Severity:Refactoring
