Repository dlang/dmd, pull requests merged in 2025-03, with the labels that each got.

#20933 Cleanup and marking with TODO AArch64
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64

#20935 recognize (e ? e : f)
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#20934 implement floating point negation
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64

#20939 tidy up cdloglog()
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#20940 rewrite fixresult() for AArch64
  compiler/src/dmd/backend/arm/cod1.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#17057 add Placement New
  changelog/dmd.placementNew.dd
  compiler/src/dmd/astbase.d
  compiler/src/dmd/dinterpret.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/escape.d
  compiler/src/dmd/expression.d
  compiler/src/dmd/expression.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/inline.d
  compiler/src/dmd/inlinecost.d
  compiler/src/dmd/nogc.d
  compiler/src/dmd/ob.d
  compiler/src/dmd/optimize.d
  compiler/src/dmd/parse.d
  compiler/src/dmd/visitor/postorder.d
  compiler/src/dmd/visitor/transitive.d
  compiler/src/tests/cxxfrontend.cc
  compiler/test/compilable/placementnew.d
  compiler/test/fail_compilation/placenew.d
  compiler/test/runnable/placenew.d
Labels: Severity:Enhancement, Severity:New Language Feature

#20941 go over cdfunc() for AArch64
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20944 Moved Staticforeach.lowerNonArrayAggregate and Staticforeach.prepare to expressionsem
  compiler/src/dmd/cond.d
  compiler/src/dmd/expression.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
Labels: Merge:auto-merge

#20948 2nd go at funccall() for AArch64
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/arm/instr.d
Labels: Compiler:Backend, Arch:Aarch64

#20949 another pass over movParams()
  compiler/src/dmd/backend/arm/cod1.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20943 Move Dsymbol.hasStaticCtorOrDtor to dsymbolsem
  compiler/src/dmd/attrib.d
  compiler/src/dmd/attrib.h
  compiler/src/dmd/declaration.h
  compiler/src/dmd/dsymbol.d
  compiler/src/dmd/dsymbol.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/func.d
  compiler/src/dmd/template.h
  compiler/src/dmd/toobj.d
Labels: Merge:auto-merge

#20952 Merge stable
  compiler/src/dmd/dcast.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/pragmasem.d
  compiler/src/dmd/statementsem.d
  compiler/test/compilable/bug11735.d
  compiler/test/compilable/debug_statement_attributes.d
  compiler/test/compilable/test24017.d
  compiler/test/fail_compilation/fail22151.d
  compiler/test/fail_compilation/test20859.d
  compiler/test/runnable/literal.d
  compiler/test/runnable/template3.d
Labels: Merge:stable -> master

#20951 fix 64 bit Arm relocations
  compiler/src/dmd/backend/elfobj.d
Labels: Compiler:Backend, Arch:Aarch64

#20962 detab source code
  compiler/src/dmd/expressionsem.d
Labels: Review:Trivial

#20968 getting first two tests in exe1.c to run
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/test/runnable/exe1.c
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#20969 successfully run exe1.c elemi() test
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#20977 Extracted Condition.include to visitor in expressionsem
  compiler/src/dmd/cond.d
  compiler/src/dmd/cond.h
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
Labels: Merge:auto-merge

#20979 fix tyToExtend()
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#20987 progress on dealing with common subexpressions
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20988 more common subexpression implementation
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20995 Reset global Loc table in initDMD
  compiler/src/dmd/frontend.d
  compiler/src/dmd/location.d
  compiler/src/dmd/main.d
Labels: Merge:auto-merge

#20996 get branches to block working
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/backend/x86/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21002 carith and more branch logic
  compiler/src/dmd/backend/arm/cod3.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#21003 Improve Fix #20318 Compiler should explain why implicit conversion to…
  compiler/src/dmd/dcast.d
Labels: Merge:auto-merge

#20992 Fix StorageClass type in genCfunc
  compiler/src/dmd/cxxfrontend.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/frontend.h
  compiler/src/dmd/func.d
Labels: Compiler:C++ Interface

#21009 Don't parse lambda as UDA without parentheses
  compiler/src/dmd/parse.d
  compiler/test/compilable/uda_lambda.d
  compiler/test/fail_compilation/uda_lambda.d
Labels: Merge:auto-merge

#21010 it is IFL1 not IFL2
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#20980 [stable] Expose SourceLoc to C++ interface
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.h
  compiler/src/dmd/location.d
  compiler/src/tests/cxxfrontend.cc
Labels: Compiler:GDC, Merge:auto-merge, Compiler:C++ Interface

#21016 [stable] C++ header fixes for declaration, expression, and typinf
  compiler/src/dmd/cxxfrontend.d
  compiler/src/dmd/declaration.h
  compiler/src/dmd/expression.h
  compiler/src/dmd/typinf.h
  compiler/src/tests/cxxfrontend.cc
Labels: Compiler:GDC, Compiler:C++ Interface

#21014 [stable] C++ headers: Add 3 Declaration bitfield setters/getters required by LDC
  compiler/src/dmd/declaration.h
Labels: Compiler:LDC, Merge:auto-merge, Compiler:C++ Interface

#21026 flags not set by complement instruction
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/debugprint.d
Labels: Compiler:Backend, Arch:Aarch64

#21037 wrong register mask for cssave()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/cgcse.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21040 arguments swapped for loadFromEA()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
Labels: Compiler:Backend, Arch:Aarch64

#21043 Add C++23 to CppStdRevision enum
  changelog/dmd.extern-std-cpp23.dd
  compiler/src/dmd/cli.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.d
  compiler/src/dmd/globals.h
  compiler/src/dmd/mars.d
  druntime/src/core/stdcpp/xutility.d
Labels: Compiler:GDC, Feature:extern (C/C++/Obj-C)

#21044 2 more detail bugs
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/x86/cod1.d
Labels: Compiler:Backend, Arch:Aarch64

#21046 Improve UFCS/property error message
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/fail347.d
  compiler/test/fail_compilation/ufcs.d
Labels: Diagnostic Messages

#21056 more common subexpression bugs
  compiler/src/dmd/backend/x86/cgcod.d
Labels: Compiler:Backend, Arch:Aarch64

#21047 Fix #21045 - import __stdin causes compilation to pause while reading from stdin
  compiler/src/dmd/dmodule.d
  compiler/src/dmd/file_manager.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.d
  compiler/src/dmd/globals.h
  compiler/src/dmd/main.d
  compiler/src/dmd/mars.d
  compiler/test/fail_compilation/fail21045.d
Labels: Severity:Bug Fix

#21061 Require adjacent auto ref return as well
  changelog/dmd.auto-ref-return.dd
  compiler/src/dmd/funcsem.d
  compiler/test/fail_compilation/diag9679.d
Labels: Severity:Deprecation

#21060 Use errorSupplemental for long errors with 2 sentences
  compiler/src/dmd/dinterpret.d
  compiler/src/dmd/initsem.d
  compiler/src/dmd/optimize.d
  compiler/src/dmd/parse.d
  compiler/src/dmd/semantic2.d
  compiler/src/dmd/todt.d
  compiler/src/dmd/toobj.d
  compiler/test/fail_compilation/fail11714.d
  compiler/test/fail_compilation/fail15361.d
  compiler/test/fail_compilation/fail16.d
  compiler/test/fail_compilation/fail23439.d
  compiler/test/fail_compilation/failcontracts.d
  compiler/test/fail_compilation/ice11153.d
  compiler/test/fail_compilation/test15989.d
  compiler/test/fail_compilation/test19661.d
Labels: Diagnostic Messages

#21058 Refactor checkGC
  compiler/src/dmd/expression.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/nogc.d
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statementsem.d
  compiler/src/dmd/traits.d
Labels: Severity:Refactoring

#21028 Don't raise "cannot return non-void" on Terror
  compiler/src/dmd/statementsem.d
  compiler/test/fail_compilation/diag10405.d
  compiler/test/fail_compilation/diag20888.d
  compiler/test/fail_compilation/fail305.d
  compiler/test/fail_compilation/fail41.d
  compiler/test/fail_compilation/nonvoid_return.d
Labels: Diagnostic Messages

#21063 Fix #20901: can escape stack pointer through indexed array literal
  compiler/src/dmd/dcast.d
  compiler/src/dmd/nogc.d
  compiler/test/fail_compilation/retscope3.d
Labels: dip1000, Severity:safe

#21064 AArch64 does not have LEA, fake it
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21062 Refactored memcpy calls to D slices
  .gitignore
  compiler/src/dmd/cparse.d
  compiler/src/dmd/parse.d
Labels: Severity:Refactoring

#21072 AArch64 doesn't have LEA instruction, so use pointers instead of Effe…
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/cc.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/elfobj.d
  compiler/src/dmd/backend/var.d
  compiler/src/dmd/e2ir.d
Labels: Compiler:Backend, Arch:Aarch64

#21074 add target.isAArch64 to e2ir.d
  compiler/src/dmd/e2ir.d
Labels: Compiler:Backend, Arch:Aarch64

#21075 add has to be in addition to fixup
  compiler/src/dmd/backend/arm/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21080 AArch64 cannot compare shorts directly
  compiler/src/dmd/backend/cgelem.d
Labels: Compiler:Backend, Arch:Aarch64

#21084 fix cdpost()
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21087 Improve 'no property' error suggestions for pointers
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/checkimports2.d
  compiler/test/fail_compilation/fail18219.d
  compiler/test/fail_compilation/fail19103.d
  compiler/test/fail_compilation/fail347.d
  compiler/test/fail_compilation/ice19755.d
  compiler/test/fail_compilation/lookup.d
  compiler/test/fail_compilation/mixinprop.d
Labels: Diagnostic Messages

#21090 neglected to generate code for cdeq()
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/x86/cgcod.d
Labels: Compiler:Backend, Arch:Aarch64

#21093 size_t was wrong, sign extension omitted
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/target.d
Labels: Compiler:Backend, Arch:Aarch64

#21101 in codelem(), use AArc64 register masks
  compiler/src/dmd/backend/x86/cgcod.d
Labels: Compiler:Backend, Arch:Aarch64

#21103 errors in cdpost()
  compiler/src/dmd/backend/arm/cod2.d
Labels: Merge:auto-merge, Compiler:Backend, Arch:Aarch64

#21108 Turn macro translations into template functions
  changelog/druntime.macro-templates.dd
  druntime/src/core/stdc/math.d
  druntime/src/core/sys/linux/linux/if_packet.d
  druntime/src/core/sys/linux/netinet/in_.d
  druntime/src/core/sys/linux/sched.d
  druntime/src/core/sys/linux/sys/time.d
  druntime/src/core/sys/posix/netdb.d
  druntime/src/core/sys/posix/netinet/in_.d
  druntime/src/core/sys/posix/signal.d
  druntime/src/core/sys/posix/sys/ioctl.d
  druntime/src/core/sys/posix/sys/select.d
  druntime/src/core/sys/posix/sys/socket.d
  druntime/src/core/sys/posix/sys/stat.d
  druntime/src/core/sys/posix/sys/wait.d
  druntime/src/core/sys/windows/basetsd.d
  druntime/src/core/sys/windows/commctrl.d
  druntime/src/core/sys/windows/dde.d
  druntime/src/core/sys/windows/mmsystem.d
  druntime/src/core/sys/windows/ntdef.d
  druntime/src/core/sys/windows/ntsecapi.d
  druntime/src/core/sys/windows/oleauto.d
  druntime/src/core/sys/windows/shlobj.d
  druntime/src/core/sys/windows/stat.d
  druntime/src/core/sys/windows/threadaux.d
  druntime/src/core/sys/windows/vfw.d
  druntime/src/core/sys/windows/winbase.d
  druntime/src/core/sys/windows/wincrypt.d
  druntime/src/core/sys/windows/winnt.d
  druntime/src/core/sys/windows/winuser.d
Labels: Druntime

#21107 backend: Remove some void/unsafe initialization
  compiler/src/dmd/backend/arm/disasmarm.d
  compiler/src/dmd/backend/cdef.d
  compiler/src/dmd/backend/cgelem.d
  compiler/src/dmd/backend/cgsched.d
  compiler/src/dmd/backend/dcgcv.d
  compiler/src/dmd/backend/elem.d
  compiler/src/dmd/backend/evalu8.d
  compiler/src/dmd/backend/gloop.d
  compiler/src/dmd/backend/mach.d
  compiler/src/dmd/backend/machobj.d
  compiler/src/dmd/backend/mscoff.d
  compiler/src/dmd/backend/mscoffobj.d
  compiler/src/dmd/backend/ptrntab.d
  compiler/src/dmd/backend/x86/cgcod.d
  compiler/src/dmd/backend/x86/cgxmm.d
  compiler/src/dmd/backend/x86/cod1.d
Labels: Severity:Refactoring, Compiler:Backend

#21109 Improve linker error suggestions
  compiler/src/dmd/link.d
Labels: Diagnostic Messages

#21116 pow: Ensure side effects are evaluated in e1^^0 rewrite
  compiler/src/dmd/expressionsem.d
  compiler/test/runnable/powinline.d
Labels: Severity:Regression, Merge:auto-merge, Feature:optimisation

#21117 partially implement cdstreq()
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/cod3.d
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/backend/x86/cod2.d
Labels: Compiler:Backend, Arch:Aarch64

#21123 improve formatting of disassembly output
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Review:Easy Review, Compiler:Backend, Arch:Aarch64

#21128 redundate add of Voffset, disassembler correction
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/arm/disasmarm.d
Labels: Compiler:Backend, Arch:Aarch64
