Repository dlang/dmd, pull requests merged in 2025-09, with the labels that each got.

#21801 Fill in missing unwind info for MIPS
  druntime/src/core/internal/backtrace/libunwind.d
Labels: Merge:auto-merge

#21804 [expression.d] use early return in `StringExpresssion.compare`
  compiler/src/dmd/expression.d
Labels: Review:Trivial, Severity:Refactoring

#21810 add ref to data segment
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21822 core.thread: Add getter for Darwin/Windows m_reg
  druntime/src/core/thread/osthread.d
  druntime/src/core/thread/threadbase.d
Labels: Merge:auto-merge, Druntime, Druntime:GC

#21838 some progress with thread local data
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/mach.d
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21828 druntime: Add thread_cancelDisable and thread_cancelRestore hooks
  druntime/src/core/internal/gc/impl/conservative/gc.d
  druntime/src/core/thread/osthread.d
Labels: Druntime, Druntime:GC

#21860 seems linker cannot to segment fixups, only symbolic
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21863 one less indirection in accessing TLS
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/elpicpie.d
Labels: Compiler:Backend, Arch:Aarch64

#21870 druntime: Add bindings for Solaris sys/regset.h
  druntime/mak/COPY
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/core/sys/posix/ucontext.d
  druntime/src/core/sys/solaris/sys/regset.d
Labels: Merge:auto-merge, OS:Solaris, Druntime

#21869 druntime: Add bindings for Solaris thread.h
  druntime/mak/COPY
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/core/sys/solaris/thread.d
  druntime/src/core/thread/osthread.d
Labels: Merge:auto-merge, OS:Solaris, Druntime

#21875 long doubles are 64 bits on OSX AArch64
  compiler/src/dmd/glue/package.d
Labels: Compiler:Backend, Arch:Aarch64

#21873 druntime: Fix Solaris deadlock between sem_wait and gcLock in atfork handler
  druntime/src/core/thread/osthread.d
Labels: OS:Solaris, Druntime, Druntime:GC

#21879 fixups for addresses of functions
  compiler/src/dmd/backend/elpicpie.d
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21872 druntime: Rename HaveFork to AllocSupportsShared
  druntime/src/core/internal/gc/bits.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
  druntime/src/core/internal/gc/os.d
Labels: Merge:auto-merge, Druntime, Druntime:GC

#21883 SAOC 25: fix #20157: importC does not handle nested struct designated initializer
  compiler/src/dmd/initsem.d
  compiler/test/fail_compilation/init1.c
  compiler/test/runnable/issue20157.c
Labels: Feature:ImportC, Review:student

#21892 fixups for tls initialized to zero
  compiler/src/dmd/backend/dout.d
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21898 Move some template specific semantic to `templatesem.d`
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/templatesem.d
Labels: Severity:Refactoring

#21901 align tls variables
  compiler/src/dmd/backend/machobj.d
Labels: Compiler:Backend, Arch:Aarch64

#21908 SAOC 2025: fix #20092: importC: can't take address of some compound-literals
  compiler/src/dmd/expressionsem.d
  compiler/test/runnable/fix20092.c
Labels: Feature:ImportC

#21906 adapt to unique OSX64 AArch64 variadic args
  compiler/src/dmd/backend/arm/cod1.d
  compiler/src/dmd/backend/el.d
  compiler/src/dmd/backend/x86/cod1.d
  compiler/src/dmd/glue/e2ir.d
Labels: Compiler:Backend, Arch:Aarch64

#21918 remove erroneous branch condition adjustment
  compiler/src/dmd/backend/arm/cod3.d
Labels: Compiler:Backend, Arch:Aarch64

#21914 fix regression from #21066: cannot assign literal of type const(int)[] to int[]
  compiler/src/dmd/expressionsem.d
  compiler/test/runnable/testaa3.d
Labels: Severity:Regression
