Repository dlang/dmd, changes with the owners that CODEOWNERS names for each.
All owners: @MartinNowak, @RazvanN7, @UplinkCoder, @Geod24, @klickvebot, @WalterBright, @CyberShadow, @ibuclaw, @andralex, @jacob-carlborg, @rainers, @klickverbot, @wilzbach

Skip using typedefIdent specifically for `void` type
  compiler/src/dmd/hdrgen.d
Owners: none

Update test
  compiler/test/compilable/ctod.i
Owners: none

Added check to copy basic types and prevent typedef substitution in function return types
  compiler/src/dmd/cparse.d
  compiler/src/dmd/hdrgen.d
  compiler/test/compilable/ctod.i
Owners: none

Speculatively call copy constructor when returning in foreach
  compiler/src/dmd/funcsem.d
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statementsem.d
  compiler/test/fail_compilation/issue22666.d
  compiler/test/runnable/issue22639.d
Owners: none

Check member access for `__traits(getMember)` in `@safe` code
  compiler/src/dmd/traits.d
  compiler/test/fail_compilation/getMember_private.d
Owners: none

Generate `etc.valgrind.valgrind` docs
  druntime/Makefile
  druntime/mak/DOCS
  druntime/src/etc/valgrind/valgrind.d
Owners: none

Generate `etc.valgrind.valgrind` docs (#22675)
  druntime/Makefile
  druntime/mak/DOCS
  druntime/src/etc/valgrind/valgrind.d
Owners: none

fix issue 22584: upgrade foreach variable shadowing from deprecation to error
  compiler/src/dmd/expressionsem.d
  compiler/test/fail_compilation/fail2195.d
Owners: none

Check member access for `__traits(getMember)` in `@safe` code (#22674)
  compiler/src/dmd/traits.d
  compiler/test/fail_compilation/getMember_private.d
Owners: none

Makefile: Double quote $(MAKE) variable to prevent word splitting
  Makefile
  druntime/Makefile
  druntime/posix.mak
  posix.mak
  src/posix.mak
Owners: @MartinNowak, @wilzbach

Implement AArch64 inline assembler
  compiler/docs/architecture/aarch64-design-documentation.md
  compiler/docs/architecture/aarch64-implementation-plan.md
  compiler/docs/architecture/aarch64-inline-asm-spec.md
  compiler/src/dmd/backend/arm/instr.d
  compiler/src/dmd/iasm/dmdaarch64.d
  compiler/test/unit/inline_asm/test_aarch64_asm.d
  compiler/test/unit/inline_asm/test_phase2_addressing.d
  compiler/test/unit/inline_asm/test_phase4_arithmetic.d
  compiler/test/unit/inline_asm/test_phase4_logical.d
  compiler/test/unit/inline_asm/test_phase5_additional_loadstore.d
  compiler/test/unit/inline_asm/test_phase6_function_calls.d
  compiler/test/unit/inline_asm/verify_aarch64_encoding.d
  compiler/test/unit/inline_asm/verify_additional_encoding.d
  compiler/test/unit/inline_asm/verify_missing_features.d
  compiler/test/unit/inline_asm/verify_phase2_encoding.d
  compiler/test/unit/inline_asm/verify_phase4_2_encoding.d
  compiler/test/unit/inline_asm/verify_phase4_3_encoding.d
  compiler/test/unit/inline_asm/verify_phase4_encoding.d
  compiler/test/unit/inline_asm/verify_phase5_encoding.d
  compiler/test/unit/inline_asm/verify_phase6_encoding.d
Owners: none

Makefile: Double quote $(MAKE) variable to prevent word splitting (#22678)
  Makefile
  druntime/Makefile
  druntime/posix.mak
  posix.mak
  src/posix.mak
Owners: @MartinNowak, @wilzbach

Fix temporary file creation in runPreprocessor to handle errors on Windows
  compiler/src/dmd/link.d
Owners: none

Fix Issue 22614 - [Windows] tmpnam() in runPreprocessor generates roo… (#22615)
  compiler/src/dmd/link.d
Owners: none

Add test for @nogc nothrow compliance of core.sys.windows.objbase functions
  compiler/test/compilable/fix22573.d
Owners: none

fixed OPld_d in the wrong place
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/glue/e2ir.d
Owners: none

Fix issue 22671 - Allow GC allocations in blocks in functions
  changelog/dmd.nogc-ctfe-alloc.dd
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statement.d
  compiler/src/dmd/statementsem.d
  compiler/test/compilable/fix22671.d
Owners: none

[spec/traits] Add `needsDestruction` (#4408)
  spec/traits.dd
Owners: none

fixed OPld_d in the wrong place (#22679)
  compiler/src/dmd/backend/arm/cod4.d
  compiler/src/dmd/glue/e2ir.d
Owners: none

Delete useless import in compiler/src/dmd/dclass.d (#22654)
  compiler/src/dmd/dclass.d
Owners: none

implement isOverlapped trait (#22640)
  changelog/dmd.isOverlapped.dd
  compiler/src/dmd/frontend.h
  compiler/src/dmd/id.d
  compiler/src/dmd/traits.d
  compiler/test/compilable/test_isOverlapped.d
  compiler/test/fail_compilation/test_isOverlapped_errors.d
Owners: @ibuclaw, @klickverbot

[CoreDdoc] Fix 2 version typos
  druntime/src/core/memory.d
  druntime/src/core/sys/darwin/crt_externs.d
Owners: none

[CoreDdoc] Fix 2 version typos (#22682)
  druntime/src/core/memory.d
  druntime/src/core/sys/darwin/crt_externs.d
Owners: none

Normalize bool bitfield to 0 or 1 during logical not optimizations
  compiler/src/dmd/backend/cgelem.d
  compiler/test/runnable/issue22663.d
Owners: none

Update issue link in test
  compiler/test/runnable/issue22663.d
Owners: none

Restart inference of foreach nested functions when lowering returns
  compiler/src/dmd/frontend.h
  compiler/src/dmd/funcsem.d
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statement.d
  compiler/src/dmd/statement.h
  compiler/src/dmd/statementsem.d
  compiler/test/compilable/pr22672.d
  compiler/test/fail_compilation/issue22666.d
  compiler/test/runnable/issue22639.d
Owners: @ibuclaw, @klickverbot

use fmod() for modulus operator
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/drtlsym.d
  compiler/src/dmd/backend/rtlsym.d
  compiler/src/dmd/glue/e2ir.d
Owners: none

bump VERSION to v2.112.1-rc.1
  VERSION
Owners: none

Add test cases for Bugzilla Issue 19408
  compiler/test/fail_compilation/issue19408.d
  compiler/test/runnable/issue19408.d
Owners: none

use fmod() for modulus operator (#22683)
  compiler/src/dmd/backend/arm/cod2.d
  compiler/src/dmd/backend/drtlsym.d
  compiler/src/dmd/backend/rtlsym.d
  compiler/src/dmd/glue/e2ir.d
Owners: none

release.yml: Use the dmd-revision from the build to create releases
  .github/workflows/release.yml
Owners: none

Implement inCtfeBlock flag for ReturnStatement and update GC allocation checks in CTFE blocks
  compiler/src/dmd/frontend.h
  compiler/src/dmd/semantic3.d
  compiler/src/dmd/statement.h
  compiler/test/compilable/fix22671.d
Owners: @ibuclaw, @klickverbot

ensure mcache is cleared for basic types + update test
  compiler/src/dmd/cparse.d
  compiler/test/compilable/ctod.i
Owners: none

Update frontend.h
  compiler/src/dmd/frontend.h
Owners: @ibuclaw, @klickverbot

Fix test
  compiler/test/compilable/ctod.i
Owners: none

Fix issue 22175 - require ref for void AA update callbacks
  compiler/test/fail_compilation/fail22175.d
  druntime/src/object.d
Owners: none

Fix formatting
  compiler/src/dmd/cparse.d
Owners: none

release.yml: Use the dmd-revision from the build to create releases (#22686)
  .github/workflows/release.yml
Owners: none

Fix the fstatat declaration on macOS/x64.
  druntime/src/core/sys/posix/sys/stat.d
Owners: none

[`core.sys` docs] Define platform versions
  druntime/Makefile
Owners: none

CODEOWNERS:

# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

src/dmd/access.d @MartinNowak
src/dmd/astbase* @RazvanN7
src/dmd/astcodegen.d @RazvanN7
src/dmd/asttypename.d @UplinkCoder
src/dmd/attrib.d @Geod24
src/dmd/builtin.d @klickvebot @WalterBright
src/dmd/cond.d @Geod24
src/dmd/console.d @CyberShadow
src/dmd/cppmangle.d @ibuclaw @Geod24
src/dmd/cparse.d @ibuclaw @WalterBright
src/dmd/ctfeexpr.d @UplinkCoder
src/dmd/doc.d @andralex @jacob-carlborg
src/dmd/dscope.d @Geod24
src/dmd/hdrgen.d @UplinkCoder @WalterBright
src/dmd/iasm.d @ibuclaw @WalterBright
src/dmd/iasmdmd.d @WalterBright
src/dmd/iasmgcc.d @ibuclaw
src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
src/dmd/objc* @jacob-carlborg
src/dmd/permissivevisitor.d @RazvanN7
src/dmd/target.d @ibuclaw @MartinNowak
src/dmd/transitivevisitor.d @RazvanN7
src/dmd/vcbuild @rainers

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @klickverbot

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach
