Repository dlang/dmd, changes with the owners that CODEOWNERS names for each.
All owners: @MartinNowak, @RazvanN7, @UplinkCoder, @Geod24, @klickvebot, @WalterBright, @CyberShadow, @ibuclaw, @andralex, @jacob-carlborg, @rainers, @klickverbot, @wilzbach

CODEOWNERS:

# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

src/dmd/access.d @MartinNowak
src/dmd/astbase* @RazvanN7
src/dmd/astcodegen.d @RazvanN7
src/dmd/asttypename.d @UplinkCoder
src/dmd/attrib.d @Geod24
src/dmd/builtin.d @klickvebot @WalterBright
src/dmd/cond.d @Geod24
src/dmd/console.d @CyberShadow
src/dmd/cppmangle.d @ibuclaw @Geod24
src/dmd/cparse.d @ibuclaw @WalterBright
src/dmd/ctfeexpr.d @UplinkCoder
src/dmd/doc.d @andralex @jacob-carlborg
src/dmd/dscope.d @Geod24
src/dmd/hdrgen.d @UplinkCoder @WalterBright
src/dmd/iasm.d @ibuclaw @WalterBright
src/dmd/iasmdmd.d @WalterBright
src/dmd/iasmgcc.d @ibuclaw
src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
src/dmd/objc* @jacob-carlborg
src/dmd/permissivevisitor.d @RazvanN7
src/dmd/target.d @ibuclaw @MartinNowak
src/dmd/transitivevisitor.d @RazvanN7
src/dmd/vcbuild @rainers

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @klickverbot

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach

fix: restore tempinst.tinst assignment accidentally removed
  compiler/src/dmd/templatesem.d
Owners: none

changelog: add entry for ftime-trace template argument types
  changelog/dmd.ftime-trace-template-args.dd
Owners: none

Revert "Makefile: Double quote $(MAKE) variable to prevent word splitting (#22678)"
  Makefile
  druntime/Makefile
  druntime/posix.mak
  posix.mak
  src/posix.mak
Owners: @MartinNowak, @wilzbach

Revert "Makefile: Double quote $(MAKE) variable to prevent word splitting (#22678)"
  Makefile
  druntime/Makefile
  druntime/posix.mak
  posix.mak
  src/posix.mak
Owners: @MartinNowak, @wilzbach

Add a configuration for the GC to try to keep its heap size below a certain size.
  druntime/src/core/gc/config.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
Owners: none

Add AArch64 to src/core/thread/types.d
  druntime/src/core/thread/types.d
Owners: none

add sections_darwin_rt.d
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/rt/sections.d
  druntime/src/rt/sections_osx_64.d
Owners: none

Add a configuration for the GC to try to keep its heap size below a certain size. (#22721)
  druntime/src/core/gc/config.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
Owners: none

Add AArch64 to src/core/thread/types.d (#22722)
  druntime/src/core/thread/types.d
Owners: none

add sections_darwin_rt.d (#22723)
  druntime/mak/DOCS
  druntime/mak/SRCS
  druntime/src/rt/sections.d
  druntime/src/rt/sections_osx_64.d
Owners: none

fix: include template argument types in ftime-trace events (#22724)
  changelog/dmd.ftime-trace-template-args.dd
  compiler/src/dmd/templatesem.d
Owners: none

[root/ctfloat.d] yl2x_supported iff real_t == real
  compiler/src/dmd/root/ctfloat.d
Owners: none

ws
  compiler/src/dmd/root/ctfloat.d
Owners: none

[root/ctfloat.d] yl2x_supported iff real_t == real (#22727)
  compiler/src/dmd/root/ctfloat.d
Owners: none

get osthread.d to compile with AArch64
  druntime/src/core/thread/osthread.d
Owners: none

stub out atomic functions for AArch64
  druntime/src/core/internal/atomic.d
Owners: none

get osthread.d to compile with AArch64 (#22729)
  druntime/src/core/thread/osthread.d
Owners: none

stub out atomic functions for AArch64 (#22728)
  druntime/src/core/internal/atomic.d
Owners: none

Add TODO AArch64 to find places that need work in druntime
  druntime/src/core/internal/atomic.d
  druntime/src/core/thread/osthread.d
Owners: none

Add TODO AArch64 to find places that need work in druntime (#22730)
  druntime/src/core/internal/atomic.d
  druntime/src/core/thread/osthread.d
Owners: none

more AArch64 special cases
  druntime/src/core/internal/atomic.d
  druntime/src/core/thread/osthread.d
  druntime/src/rt/alloca.d
  druntime/src/rt/cmath2.d
  druntime/src/rt/deh_win64_posix.d
  druntime/src/rt/llmath.d
Owners: none

more AArch64 special cases (#22731)
  druntime/src/core/internal/atomic.d
  druntime/src/core/thread/osthread.d
  druntime/src/rt/alloca.d
  druntime/src/rt/cmath2.d
  druntime/src/rt/deh_win64_posix.d
  druntime/src/rt/llmath.d
Owners: none

add some support for AArch64 inline assembler
  compiler/src/dmd/iasm/dmdaarch64.d
Owners: none

Fix $ type inference for return statements and binary expressions
  compiler/src/dmd/dcast.d
  compiler/src/dmd/expressionsem.d
  compiler/test/runnable/dollarinfer.d
Owners: none

Simplify
  compiler/src/dmd/dcast.d
Owners: none

Minor tweaks
  compiler/src/dmd/cli.d
Owners: none

Various fixes
  compiler/src/dmd/cli.d
Owners: none

-dllimport flag string
  compiler/src/dmd/cli.d
Owners: none

Escape options in help text
  compiler/src/dmd/cli.d
Owners: none

fix: use hash map for O(n) duplicate case detection instead of O(n^2)
  compiler/src/dmd/statementsem.d
Owners: none

core.thread.package: Revise unittest
  druntime/src/core/thread/package.d
Owners: none

[dmd/cli.d] HTML fixes (#22733)
  compiler/src/dmd/cli.d
Owners: none

Set PROJECT=dmd in spec.ddoc
  spec/spec.ddoc
Owners: none

Add opUnwrapIfTrue operator overload for structs
  changelog/dmd.unwrapiftrue.dd
  compiler/src/dmd/frontend.h
  compiler/src/dmd/id.d
  compiler/src/dmd/statementsem.d
  compiler/test/runnable/unwrapiftrue.d
Owners: @ibuclaw, @klickverbot

[root/longdouble.d] make `ld_cmp` use a regular return
  compiler/src/dmd/root/longdouble.d
Owners: none

fix?
  compiler/src/dmd/root/longdouble.d
Owners: none

Set PROJECT=dmd in spec.ddoc (#22737)
  spec/spec.ddoc
Owners: none

[root/longdouble.d] make `ld_cmp` use a regular return (#22738)
  compiler/src/dmd/root/longdouble.d
Owners: none

a little refactor
  compiler/src/dmd/dsymbolsem.d
Owners: none

add op pseudo-op to inline assembler
  compiler/src/dmd/astbase.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/iasm/dmdaarch64.d
  compiler/src/dmd/iasm/package.d
  compiler/src/dmd/id.d
  compiler/src/dmd/parse.d
  compiler/src/dmd/statement.d
  compiler/src/dmd/statement.h
  compiler/src/dmd/statementsem.d
Owners: @ibuclaw, @klickverbot
